.light{
  --primary-100:#151931;
  --primary-200:#252841;
  --primary-300:#3d3f5b;
  --accent-100:#A096A5;
  --accent-200:#463e4b;
  --text-100:#151931;
  --text-200:#252841;
  --bg-100:#e7d1bb;
  --bg-200:#b19677;
  --bg-300:#d8bfa6;
  --filter: invert(8%) sepia(19%) saturate(2661%) hue-rotate(198deg) brightness(97%) contrast(94%);
}

.dark{
  --primary-100:#e7d1bb;
  --primary-200:#c8b39e;
  --primary-300:#84725e;
  --accent-100:#A096A5;
  --accent-200:#463e4b;
  --text-100:#A096A2;
  --text-200:#847a86;
  --bg-100:#151931;
  --bg-200:#252841;
  --bg-300:#3d3f5b;
  --filter: invert(64%) sepia(9%) saturate(314%) hue-rotate(244deg) brightness(94%) contrast(89%);
}

/* Classes for changing user interaction */
.no-select{
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}

/* Defaults for html tags */
*{
  padding:0px;
  margin: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-100);
}

html, body{
  background-color: var(--bg-100);
  height: 100%;
  overflow: hidden;
  scrollbar-width: thin;  
  scrollbar-color: var(--primary-200) var(--bg-100);   
}

button{
  background: transparent;
  border: 0;
  cursor: pointer;
  outline: 0px;
  width: 400px;
  height: 50px;
  border-radius: 25px;
  font-size: x-large;
}

input{
  padding: 10px;
  height: 50px;
  border: 0;
  outline: 0;
  border-radius: 10px;
  font-size: x-large;
  background: transparent;
  width: 100%;
}

a{
  color: var(--primary-200);
  text-decoration: none;
}

/* Layout div for ensuring top_bar is always on top of the content*/
.layout{
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100dvw;
}

/* User login/signup (access) section */
.access{
  display: grid;
  grid-template-rows: 25px 25px 300px 25px 25px;
  grid-template-columns: 25px 25px 320px 25px 25px;
  justify-items: center;
  min-width: 400px;
  background: var(--bg-200);
  border-radius: 25px;
  padding: 10px;
}

.access .title{
  grid-area: 1 / 3 / auto / auto;
  font-size: xx-large;
}

.access input{
  margin: 10px;
  width: 400px;
  background-color: var(--bg-300);
}

.access button{
  margin: 10px;
  background: var(--bg-100);
}

.access .close{
  grid-area: 1 / 4 / auto / auto;
  width: 30px;
  height: 30px;
  background: transparent;
  filter: var(--filter);
}

.access .info{
  grid-area: 3 / 3 / auto / auto;
}

.access .bottom{
  display: flex;
  grid-area: 4 / 3 / auto / auto;
  border-top: 2px solid var(--bg-300);
  width: 400px;
  justify-content: center;
  align-content: center;
  padding: 15px;
}

.background-blur{
  position: absolute;
  display: none;
  width: 100dvw;
  height: 100dvh;
  background: rgb(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 5;
}

/* Top menu bar section */

.top-bar{
  height: 75px;
  display: flex;
  background: var(--bg-200);
  align-items: center;
}

.top-bar button{
  width: 50px;
  height: 50px;
  margin: 10px;
  font-size: 25px;
  border-radius: 50px;
  
}

.top-bar .icon{
  background-color: var(--bg-100);
  cursor: pointer;
}

.top-bar img{
  cursor: pointer;
  border-radius: 50px;
  filter: var(--filter);
  width: 50px;
}

/* Search bar within the top_bar section */

.search{
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  background: var(--bg-300);
  border-radius: 20px;
  width: 75dvw;
  height: 80%;
  min-width: 100px;
  max-width: 1500px;
  background-color: var(--bg-300);
}

.row{
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px;
}

::placeholder{
  color: var(--text-200);
}

.search ul{  
  opacity: 0.95;
  top: 100%;
  position: absolute;
  background: var(--bg-300);
  border-radius: 10px;
  width: 100%;
  margin-top: 8px;
}

.search ul li{
  list-style: none;
  border-radius: 300px;
  padding: 10px;
  cursor: pointer;
  font-size: large;
  color: var(--text-200);
}

/* Profile menu section */

.profile{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 2px;
  top: 75px;
  z-index: 3;
  background-color: var(--bg-200);
  width: 100dvw;
  max-width: 250px;
  border-radius: 10px;
  border: solid var(--bg-100) 2px;
}

.profile .section{
  margin: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: large;
}

.profile button{
  font-size: large;
}

/* Main content section */

.content{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

/* Album date/options section */
.options{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date{
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  font-size: xx-large;
}

.date img{
  width: 40px;
  cursor: pointer;
  filter: var(--filter);
}

.calendar{
  position: absolute;
  display: none;
  flex-direction: column;
  width: 75dvw;
  min-width: 450px;
  max-width: 1500px;
  max-height: 90dvh;
  min-height: 250px;
  overflow: hidden;
  z-index: 1;
  background-color: var(--bg-200);
  border: solid var(--bg-300) 1px;
  border-radius: 15px;
}

.calendar .header{
  display: flex;
  justify-content: center;
  height: 50px;
  background-color: var(--bg-300);  
}

.calendar .header img{
  height: 30px;
  cursor: pointer;
  filter: var(--filter);
}

.calendar .header .panel{
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
}

.calendar .header .close{
  position: absolute;
  top: 2px;
  right: 10px;
  width: 50px;
  height: 50px;
}

.header .date{
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  cursor: pointer;
  font-size: 35px;
}

.calendar .dates{
  width: 100%;
  overflow-y: scroll;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

.calendar .day{
  position: relative;
  width: calc(100%/7);
  aspect-ratio: 1/1;
  min-height: 50px;
  overflow: hidden;
  border: solid var(--bg-100) 1px;
} 

.day img{
  aspect-ratio: 1/1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  opacity: 50%;
}

.day .num{
  position: absolute;
  z-index: 3;
  background-color: var(--bg-100);
  color: var(--text-200);
  font-size: clamp(0.5rem, 2dvw, 2rem);
  text-align: center;
  width: 1.5em;
  border-radius: 0 0 5px 0;
}

.day.clickable{
  cursor: pointer;
}

.day.focused img{
  opacity: 100%;
}

.day.focused .num{
  background-color: var(--primary-200);
  color: var(--bg-100);
}

.current-album{
  margin: 10px;
  text-align: center;
  width: 90%;
  font-size: 25px;
}

.select{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.select button{
  background: var(--bg-200);
  width: 33%;
  max-width: 300px;
}


/* Album info section */
.album{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 25px;
  overflow: hidden;
}

.album img{
  border-radius: 50%;
  max-height: 50dvh;
  filter: none;
}

.album table{
  display: block;
  max-height: 100%;
  overflow-y: auto;
}

.album table th{
  position: sticky;
  top: 0px;
  font-size: 3dvh;
  background-color: var(--bg-100);
}

.album table td{
  color: var(--text-200);
  font-size: 2dvh;
}

/* Transition from landscape to portrait */
@media (max-aspect-ratio: 1) {
  .album{
    flex-direction: column;
    align-items: center;
  }

  .album img{
    max-width: 50dvw;
  }

  .album table th{
    font-size: 3dvw;
  }
  
  .album table td{
    font-size: 2dvw;
  }
}