:root{
  --primary-100:#e7d1bb;
  --primary-200:#c8b39e;
  --primary-300:#84725e;
  --accent-100:#A096A5;
  --accent-200:#463e4b;
  --text-100:#A096A2;
  --text-200:#847a86;
  --bg-100:#151931;
  --bg-200:#252841;
  --bg-300:#3d3f5b;
}

*{
  padding:0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-100);
}

.access{
  display: grid;
  min-width: 100px;
  background: var(--bg-200);
  border-radius: 25px;
  padding: 10px;
}

.access input{
  grid-column: 1;
  width: 350px;
  height: 50px;
  background: var(--bg-300);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 0;
  color: var(--text-100);
  font-size: x-large;
}

.access button{
  margin: 10px;
  grid-row: 5;
  grid-column: 1;
  color: var(--bg-300);
  background: var(--accent-100);
  height: 25px;
  width: 75px;
  border-radius: 20px;
}

b{
  margin: 10px;
  grid-row: 5;
  grid-column: 1;
  justify-self: end;
  color: var(--text-100);
}

a{
  color: var(--primary-200);
  text-decoration: none;
}

.background-blur{
  position: absolute;
  display: none;
  width: 100dvw;
  height: 100dvh;
  background: rgb(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.top_bar{
  display: flex;
  background: var(--bg-200);
  align-items: center;  
}

.profile{
  z-index: 10;
}

.menu{
  width: 50px;
  height: 50px;
  background-color: red;
}

.search{
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  background: var(--bg-300);
  border-radius: 100px;
  width: 50dvw;
  min-width: fit-content;
  max-width: 1000px;
}

.row{
  display: flex;
  position: relative;
  margin: 15px;
  width: 90%;
}

input{
  flex-grow: 1;
  font-size: large;
  background: transparent;
  border: 0;
  outline: 0;
  color: var(--text-100);
  font-size: x-large;
}

.row button{
  background: transparent;
  border: 0;
  outline: 0;
}

.row img{
  width: 25px;
  cursor: pointer;
}

::placeholder{
  color: var(--text-200);
}

.search ul{  
  opacity: 0.95;
  top: 100%;
  position: absolute;
  background: var(--bg-300);
  border-radius: 25px;
  width: 100%;
  margin-top: 5px;
}

.search ul li{
  list-style: none;
  border-radius: 300px;
  padding: 10px;
  cursor: pointer;
  font-size: large;
}

label {
  color: var(--text-100);
}

.content{
  display: flex;
  flex-direction: column;
}

.album{
  margin-left: auto;
  margin-right: auto;
  margin-top: 1dvh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90dvw;
}

.album .cover{
  border-radius: 50%;
  width: 30dvw;
}

.album table{
  display: block;
  height: 70dvh;
  overflow-y: auto;
  background-color: var(--bg-100);
}

.album table th{
  position: sticky;
  top: 0px;
  background-color: var(--bg-100);
  color: var(--text-100);
  font-size: clamp(12px, 3dvw, 25px);
}

.album table td{
  color: var(--text-200);
  font-size: clamp(10px, 1.5dvw, 20px);
}

@media (max-aspect-ratio: 1) {
  .album{
    flex-direction: column;
    align-items: center;
  }
  .album .cover{
    width: 30dvh;
  } 

  .album table{
    height: 60dvh;
  }

  .album table th{
    font-size: clamp(12px, 3dvh, 50px);
  }
  
  .album table td{
    font-size: clamp(10px, 1.5dvh, 30px);
  }
  
}
