# Server port
SERVER_IP=localhost
SERVER_PORT=45426
SERVER_ADDRESS=http://localhost:45426

# Spotify client ids
SPOTIFY_CLIENT_ID="your-spotify-client-id"
SPOTIFY_CLIENT_SECRET="your-spotify-client-secret"

# api/postgres.js variables
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DATA=postgres_data
POSTGRES_USER=postgres
POSTGRES_PASSWORD="your-database-password"
POSTGRES_DB=your-database-name
POSTGRES_INIT_SQL=./db/init.sql

# api/typesense.js variables
TYPESENSE_HOST=typesense
TYPESENSE_PORT=8108
TYPESENSE_DATA=typesense_data
TYPESENSE_API_KEY="your-typesense-api-key"
TYPESENSE_CLIENT_KEY="your-typesense-client-key"
TYPESENSE_PUBLIC_URL=http://localhost:8108

# express-session secret
COOKIE_SECRET="your-session-secret"

# express-https certificate locations
CERT_LOCATION="path/to/your.crt"
KEY_LOCATION="path/to/your.key"