/* Album date/options section */
.options{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.date{
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  font-size: var(--default-font);
}

.date img{
  height: 50%;
  cursor: pointer;
  filter: var(--filter);
}

.calendar{
  position: absolute;
  display: none;
  width: 75%;
  max-width: calc(var(--max-width) * 0.75);
  max-height: 90dvh;
  z-index: 2;
  background-color: var(--bg-200);
  border: solid var(--bg-300) 1px;
  border-radius: 15px;
  flex-direction: column;
  overflow: hidden;
}

.calendar .header{
  display: flex;
  justify-content: center;
  height: 50px;
  background-color: var(--bg-300);
}

.calendar .header img{
  height: 50%;
  cursor: pointer;
  filter: var(--filter);
}

.calendar .header .panel{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}

.calendar .header .close{
  position: absolute;
  top: 3px;
  right: -5px;
  width: 50px;
  height: 50px;
}

.calendar .header .date{
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  cursor: pointer;
  font-size: var(--large-font);
}

.calendar .dates{
  width: 100%;
  aspect-ratio: 7/5;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
}

.calendar .day{
  position: relative;
  width: calc(100%/7);
  min-width: 50px;
  aspect-ratio: 1/1;
  overflow: hidden;
  border: solid var(--bg-100) 1px;
} 

.day img{
  width: 100%;
  height: 100%;
  object-fit: fit;
  opacity: 50%;
}

.day .num{
  position: absolute;
  z-index: 3;
  background-color: var(--bg-100);
  color: var(--text-200);
  font-size: var(--small-font);
  text-align: center;
  width: 1.5em;
  border-radius: 0 0 5px 0;
}

.day.clickable{
  cursor: pointer;
}

.day.focused img{
  opacity: 100%;
}

.day.focused .num{
  background-color: var(--primary-200);
  color: var(--bg-100);
}

.current-album{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 40px;
  font-size: var(--default-font);
}

.current-album span{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;  
  text-align: center;
}

.select{
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.select button{
  background: var(--bg-200);
  width: 25%;
  min-width: 100px;
  max-width: 250px;
}


/* Album info section */
.album{
  position: relative;
  width: 95%;
  min-height: 250px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}

.note{
  cursor: pointer;
  display: flex;
  flex-grow: 1;
  min-height: fit-content;
  background-color: var(--bg-200);
  height: 50px;
  border-radius: 10px;
  padding: 5px;
  font-size: var(--default-font);
}

.note:hover{
  background-color: var(--bg-300);
}

.album .header{
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 300px;
  background-color: var(--bg-200);
  border-radius: 1vh 1vh 0 0 ;
  padding: 10px;
}

.album .header .info{
  display: flex;
  width: 100%;
  min-height: 100px;
}

.album .cover{
  flex-shrink: 0;
  width: 10%;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--bg-100);
  border: solid var(--bg-100) 2px;
}

.album .cover button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 0;
  height: 1.5em;
  font-size: 1.5em;
  background-color: var(--bg-100);
}

.album .cover button:hover{
  background-color: var(--bg-300);
}

.album .image{
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.image img{
  width: 100%;
  aspect-ratio: 1/1;
}

.album .header .description{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  flex-grow: 1;
  background-color: var(--bg-100);
  padding: 10px;
  border-radius: 10px;
}

.description .title{
  width: 100%;
  height: fit-content;
  font-size: var(--large-font);
  color: var(--text-100);
}

.description .subtitle{
  display: row;
  width: 100%;
  height: fit-content;
  font-size: var(--default-font);
  color: var(--text-200);
}

.description a{
  color: var(--text-200);
}

.rating{
  display: grid;
  width: 100%;
  cursor: pointer;
}

.rating .bg{
  grid-area: 1 / 1 / 1 / 1;
  height: 100%;
  aspect-ratio: 5/1;
  background-color: var(--primary-300);
  mask-image: url(/images/rating.svg);
}

.rating .add{
  grid-area: 1 / 1 / 1 / 1;
  height: 100%;
  width: 0%;
  overflow: hidden;
}

.rating .stars{
  height: 100%;
  aspect-ratio: 5/1;
  background-color: goldenrod;
  mask-image: url(/images/rating.svg);
}

.album .tracklist{
  width: 100%;
  height: 100%;
  min-height: 50px;
  overflow-y: auto;
  background-color: var(--bg-300);
  border-radius: 0 0 1vh 1vh;
  font-size: var(--default-font);
  color: var(--bg-200);
  border: solid var(--bg-300) 3px;
}

.tracklist .playing{
  background-color: var(--bg-100);
}

.tracklist tr:not(.playing):hover{
  background-color: var(--bg-200);
}

.tracklist th{
  font-size: 1px;
  max-width: 0;
  white-space: nowrap;
  overflow: hidden;
  color: var(--bg-300);
}

.tracklist td{
  height: 50px;
  border-collapse: collapse;
  cursor: pointer;
}

.tracklist .num{
  width: 50px;
  height: 100%;
  font-size: var(--small-font);
  text-align: center;
}

.tracklist .star{
  opacity: 0;
  width: 50px;
  background-color: black;
  mask-size: contain;
  filter: var(--filter);
  mask-image: url("/images/star.svg");
}

.tracklist .starred{
  opacity: 1;
  filter: var(--show);
}

.tracklist tr:hover .star{
  opacity: 1;
}

.num.time{
  width: 75px;
}

.tracklist .title{
  max-width: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Transition from landscape to portrait */
@media (max-aspect-ratio: 1) {
}


