<div class="no-select options" id="options">
  <div class="navigation">    
    <button onclick="moveDate(false)"> <img style="transform:rotate(180deg);" src="/icons/arrow.svg"> </button>
    <div class="date">
      <button id="date" onclick="toggleCalendar()"></button>
      <button id="album_delete" onpointerdown="sendAlbumDelete(this)">Delete</button>
    </div>
    <button onclick="moveDate(true)"> <img src="/icons/arrow.svg"> </button>
  </div>

  <div class="calendar" id="calendar" style="display: none;">
    <div class="header">
      <div class="panel">
        <img style="transform:rotate(180deg);" src="/icons/arrow.svg" onclick="moveMonth(false)">
        <div class="date">
            <div id="months"></div>
            <div id="years"></div>
        </div>
        <img src="/icons/arrow.svg" onclick="moveMonth(true)">
      </div>

      <button type="button" class="close" onclick="toggleCalendar()"><img src="/icons/close.svg"></button>
  </div>
    <div class="dates" id="calendar_dates">
  </div>
  </div>
</div>

<div class="album" id="album" style="display: none;">
  <div class="header">
    <div class="select" id="select" style="display: none;">
      <button type="button" onclick="sendAlbumUpdate()" id="album_update"> Update </button>
      <div class="current-album" id="current_album"></div>
      <button type="button" onclick="updateAlbum()"> Reset </button>
    </div>
    <div class="info">
      <div class="cover">
          <button class="review" onclick="toggleNotes(this)">Edit Review</button>
          <a class="image" id="album_img"><img src="" alt=""></a>
          <div class="rating" id="album_rating"><div class="bg"></div><div class="add" id="rating_level"><div class="stars"></div></div></div>
      </div>
      <div class="description">
          <div>
            <a class="marquee title" id="album_title"></a>
            <div class="marquee subtitle" id="album_artists"></div>
            <div class="marquee subtitle" id="album_genres"></div>
          </div>
          <div class="note">This is a cool album.</div>
        </div>
    </div>
  </div>
  <div class="tracklist">
    <table id="album_tracklist" style="width: 100%; border-collapse: collapse;"><th colspan="3" id="album_secret"></th></table>
  </div>
</div>
