<div class="no-select access" id="access">
  <div class="top">
    <b>Log In</b> 
    <button type="button" class="close"><img src="/icons/close.svg" onclick="toggleAccess()"></button>
  </div>

  <div class="info">
    <input id="user_name" type="text" placeholder="Username">
    <input id="pass_word" type="password" placeholder="Password">
    <button onclick='requestAccess("login")'>Login</button>
    <button onclick='oAuth("spotify", "login")' style="background-color: #1DB954; color: #191414;">Login With Spotify</button>
  </div>
  
  <div class="bottom">
    <b>Need an account?</b> &nbsp;
    <b class="clickable-text" onclick="swapAccess(false)">Sign Up</b>
  </div>
</div>

