<link rel="stylesheet" href="../css/index.css">
<link rel="stylesheet" href="../css/day.css">
<link rel="stylesheet" href="../css/focus.css">

<body class="dark">  
  <div class="focus" style="display: flex;">
    <div class="no-select review">
      <div class="top">
        <b>Review for March, 12 2024</b>
        <button type="button" class="close"><img src="/icons/close.svg" onclick="toggleReview()"></button>
      </div>
    
      <div class="info">
      </div>
      
      <div class="bottom">
        <b>Need an account?</b> &nbsp;
        <b class="clickable-text" onclick="swapAccess(false)">Sign Up</b>
      </div>
    </div>
  </div>
</body>