.player{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  padding: 5px;
  background-color: var(--bg-200);
}

.p-control-bar{
  width: 100%;
  height: 100%;
  min-width: 320px;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.p-buttons{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.p-playback{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 150px;
}

.p-button{
  height: 100%;
  aspect-ratio: 1/1;
  cursor: pointer;
  filter: var(--filter);
}

.p-button img{
  height: 90%;
  aspect-ratio: 1/1;
}

.p-track{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-bar{
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
  width: 100%;
  background-color: var(--bg-100);
}

.p-dot{
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 0%;
  width: 15px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: var(--bg-200);
}

.p-time{
  font-size: var(--small-font);
  cursor: default;
  display: flex;
  height: 100%;
  min-width: fit-content;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.p-volume{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 150px;
}

.p-bar.volume{
  height: 20%;
  width: 70%;
  background-color: var(--bg-100);
}

.p-dot.volume{
  display: none;
  min-width: 10px;
  background-color: var(--bg-300);
}

.p-progress{
  height: 100%;
  background-color: var(--bg-300);
}

.p-title {
  position: absolute;
  z-index: 1;
  width: 100%;
  display: block;
  padding: 5px;
  color: var(--text-200);
  font-size: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.p-bar.scrobble{
  overflow: hidden;
  align-content: center;
  height: 80%;
  width: 85%;
  border-radius: 10px;
}