:root{
  --primary-100:#e7d1bb;
  --primary-200:#c8b39e;
  --primary-300:#84725e;
  --accent-100:#A096A5;
  --accent-200:#463e4b;
  --text-100:#A096A2;
  --text-200:#847a86;
  --bg-100:#151931;
  --bg-200:#252841;
  --bg-300:#3d3f5b;
}

*{
  padding:0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-100);
}

.layout{
  display: flex;
  flex-direction: column;
}

.search-box{
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 90dvw;
  background: var(--bg-200);
  margin-top: 10px;
}

.row{
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

input{
  flex-grow: 1;
  height: 50px;
  font-size: large;
  background: transparent;
  border: 0;
  outline: 0;
  color: var(--text-100);
  font-size: x-large;
}

button{
  background: transparent;
  border: 0;
  outline: 0;
}

button .fa-solid{
  width: 20px;
  color: var(--accent-100);
  font-size: 25px;
  cursor: pointer;
}

::placeholder{
  color: var(--text-200);
}

.search-box ul{
  opacity: 0.95;
  z-index: 1;
  position: absolute;
  background: var(--bg-300);
}

.search-box ul li{
  width: 90dvw;
  list-style: none;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
  font-size: large;
}

label {
  color: var(--text-100);
}

.album{
  margin-left: auto;
  margin-right: auto;
  margin-top: 1dvh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90dvw;
}

.album .cover{
  border-radius: 50%;
  width: 30dvw;
}

.album table{
  display: block;
  height: 70dvh;
  overflow-y: auto;
  background-color: var(--bg-100);
}

.album table th{
  position: sticky;
  top: 0px;
  background-color: var(--bg-100);
  color: var(--text-100);
  font-size: clamp(12px, 3dvw, 25px);
}

.album table td{
  color: var(--text-200);
  font-size: clamp(10px, 1.5dvw, 20px);
}

@media (max-aspect-ratio: 1) {
  .album{
    flex-direction: column;
    align-items: center;
  }
  .album .cover{
    width: 30dvh;
  } 

  .album table{
    height: 60dvh;
  }

  .album table th{
    font-size: clamp(12px, 3dvh, 50px);
  }
  
  .album table td{
    font-size: clamp(10px, 1.5dvh, 30px);
  }
  
}
