.light{
  --primary-100:#151931;
  --primary-200:#252841;
  --primary-300:#3d3f5b;
  --accent-100:#A096A5;
  --accent-200:#463e4b;
  --text-100:#151931;
  --text-200:#252841;
  --bg-100:#d8bfa6;
  --bg-200:#b19677;
  --bg-300:#e7d1bb;
  --filter: invert(8%) sepia(19%) saturate(2661%) hue-rotate(198deg) brightness(97%) contrast(94%);
  --show: invert(67%) sepia(56%) saturate(629%) hue-rotate(1deg) brightness(91%) contrast(90%);
}

.dark{
  --primary-100:#e7d1bb;
  --primary-200:#c8b39e;
  --primary-300:#84725e;
  --accent-100:#151931;
  --accent-200:#252841;
  --text-100:#A096A2;
  --text-200:#847a86;
  --bg-100:#151931;
  --bg-200:#252841;
  --bg-300:#3d3f5b;
  --filter: invert(64%) sepia(9%) saturate(314%) hue-rotate(244deg) brightness(94%) contrast(89%);
  --show: invert(67%) sepia(56%) saturate(629%) hue-rotate(1deg) brightness(91%) contrast(90%);
}

:root{
  --max-width: 1500px;
  --min-width: 320px;
  --default-font: clamp(1em, 2dvh, 2em);
  --large-font: calc(var(--default-font) * 1.25);
  --small-font: calc(var(--default-font) * 0.75);
}

/* Classes for user interaction */
.no-select{
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}

.clickable-text{
  color: var(--primary-200);
  cursor: pointer;
}

.clickable-text:hover{
  text-decoration: underline;
}

.marquee{
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Default for the message box */
.message{
  font-size: var(--default-font);
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 10px;
  max-height: 50px;
  background-color: var(--primary-200);
  color: var(--accent-100);
  position: absolute;
  z-index: 10;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  animation-name: fadeOut;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

/* Defaults for html tags */
*{
  padding:0px;
  margin: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, monospace;
  color: var(--text-100);
}

 body{
  background-color: var(--bg-100);
  scrollbar-width: thin;  
  scrollbar-color: var(--primary-200) var(--bg-100);
  min-width: var(--min-width);
}

button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: 0px;
  height: 50px;
  min-width: 50px;
  border-radius: 25px;
  font-size: x-large;
}

.tap{
  animation: tap 0.2s;
}

@keyframes tap {
  0% { transform: scale(1); }
  50% { transform: scale(0.9); }
  100% { transform: scale(1); }
}

input{
  padding: 10px;
  height: 50px;
  border: 0;
  outline: 0;
  border-radius: 10px;
  font-size: x-large;
  background-color: transparent;
  width: 100%;
}

a{
  cursor: pointer;
  color: var(--primary-200);
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.layout{ /* Layout should always be entire viewable screen */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}

/* Top menu bar section */

.top-bar{
  height: 50px;
  width: 100dvw;
  display: flex;
  background: var(--bg-200);
  align-items: center;
}

.top-bar button{
  font-size: 1em;
  cursor: pointer;
  height: 90%;
  aspect-ratio: 1/1;
  margin: 5px;
}

.top-bar img{
  filter: var(--filter);
  height: 80%;
}

.top-bar .icon{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-100);
  filter: none;
  overflow: hidden;
}

.top-bar .icon img{
  width: 100%;
  height: 100%;
  filter: none;
}

/* Search bar within the top_bar section */

.search{
  z-index: 3;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background: var(--bg-300);
  border-radius: 15px;
  width: 75dvw;
  height: 75%;
  min-width: 50px;
  max-width: var(--max-width);
  background-color: var(--bg-300);
}

.row{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.row input{
  padding: 10px;
  height: 100%;
  width: auto;
  flex-grow: 1;
  border-radius: 10px;
  font-size: var(--default-font);
}

::placeholder{
  color: var(--text-200);
}

.search ul{  
  opacity: 0.95;
  top: 110%;
  position: absolute;
  background: var(--bg-300);
  border-radius: 10px;
  width: 100%;
}

.search ul li{
  list-style: none;
  border-radius: 300px;
  padding: 10px;
  cursor: pointer;
  font-size: large;
  color: var(--text-200);
}

/* Profile menu section */

.profile{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 2px;
  top: 50px;
  z-index: 3;
  background-color: var(--bg-200);
  width: 200px;
  border-radius: 10px;
  border: solid var(--bg-100) 2px;
}

.profile .section{
  margin: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: large;
}

.profile button{
  width: 100%;
  font-size: large;
}

/* Main content section */

.content{
  width: 100dvw;
  flex-grow: 1;
  min-width: var(--min-width);
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

/* Transition from landscape to portrait */
@media (max-aspect-ratio: 1) {
  :root{
    --default-font: clamp(1em, 2dvw, 2em);
  }
}

@media (max-width: 400px){
  .row button{
    display: none;
  }
}

