<div class="content" id="content">    
  <div class="options" id="options">
    <div class="date"> 
      <img style="transform:rotate(180deg);" src="images/arrow.svg" onclick="moveDate(false)">
      <div id="date" style="cursor: pointer;" value="" onclick="toggleCalendar()"></div>
      <img src="images/arrow.svg" onclick="moveDate(true)">
    </div>

    <div class="calendar" id="calendar" style="display: none;">
      <div class="header">
        <div class="panel">
          <img style="transform:rotate(180deg);" src="images/arrow.svg" onclick="moveMonth(false)">
          <div class="panel">
              <div class="date" id="months">Feb</div>
              <div class="date" id="years">2024</div>
          </div>
          <img src="images/arrow.svg" onclick="moveMonth(true)">
        </div>
        <button type="button" class="close"><img src="images/close.svg" onclick="toggleCalendar()"></button>
    </div>
      <div class="dates" id="calendar_dates">
      </div>
    </div>
    
    <div class="select" id="select" style="display: none;">
      <button type="button" onclick="updateAlbum()" id="album_update"> Update </button>
      <button type="button" onclick="resetAlbum()"> Reset </button>
      <button type="button" onclick="deleteAlbum()"> Delete </button>
    </div>
  </div>

  <div class="album">

    <div id="album_cover">
      <a href=""><img class="album cover" src="" alt=""></a>
    </div>             
    <table class="selectable" id="album_table">
    </table>
  </div>
</div>