<div class="access" id="access">
  <b class="title">Log In</b> <button type="button" class="close"><img src="/images/close.svg" onclick="toggleAccess()"></button>
  <div class="info">
    <input id="user_name" type="text" placeholder="Username/Email">
    <input id="pass_word" type="password" placeholder="Password">
    <button onclick="requestAccess(this)" value="login">Login</button>
    <button onclick="oAuth(this)" service="spotify" action="login" style="background-color: #1DB954; color: #191414;" value="spotify">Login With Spotify</button>
  </div>
  
  <div class="bottom">
    <b>Need an account?</b> &nbsp; <a class= "link" href="/signup">Sign Up</a>      
  </div>
</div>